<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sachulatatzgit</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <div>
                <a href="index.html">Sachulatatz</a>
            </div>
            <div>
                <a href="cart.html">Korpa</a>
                <a href="singin.html">Sign in</a>
            </div>      
        </header>
        <main>
            <ul>
                <li>Product1</li>
                <li>Product2</li>
                <li>Product3</li>
                <li>product4</li>
            </ul>
        </main>
        <footer>
            All right reserverd
        </footer>
    </div>
    
</body>
</html>