<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sachulatatzgit</title>
</head>
<body>
    <div class="grid-container">
        <header class="row" >
            
            <div>
                <a><img src="logo.jpg" alt="logo"></a>
                <a href="index.html" class="brand">Sachulatatz</a>
            </div>
            <div>
                <a href="majce.html">Majice</a>
               
                <a href="suveniri.html">Suveniri</a>
            </div>
            <div>
                <a href="cart.html">Korpa</a>
                <a href="singin.html">Sign in</a>
            </div>      
        </header>
        <main>
            <ul>
                <li>Product1</li>
                <li>Product2</li>
                <li>Product3</li>
                <li>product4</li>
            </ul>
        </main>
        <footer class="row center">
            <small>&copy; Copyright 2020, Sachulatatz creative wear</small> 
        </footer>
    </div>
    
</body>
</html>