

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

html {
    font-size: 62.5%; /*16px default 62.5 = 10px = 1rem*/
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica,Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row.center {
    justify-content: center;
}

.navhead {
    margin-bottom: 50px;
}


.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

/*Common*/

a {
    text-decoration: none;
}

a:hover {
    color: darkcyan;
}



/*Common*/



h1 {
    font-size: 1.6rem;
    padding: 1rem 0;
}

img {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > * {
    margin: 0.5;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 1rem;
}

.product-price small {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 11rem;
}

.product-links a:hover {
    color: #fbb72c;
}

/*Cart nav badge*/
.badge {
    position: relative;
    top: -10px;
    right: 12px;
    padding: 1px 6px;
    border-radius: 50%;
    background: rgb(163, 65, 65);
    color: white;
}


