.productcontainer {
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 5rem;
}

.col1 {
   flex: 1 1 25rem;
   padding: 1rem;
}

.col2 {
    
    flex: 1 1 50rem;
    text-align: center;
    margin-top: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
} 

li {
    margin-top: 1rem;
}

.imgBig {
    padding: 1rem;
    max-width: 35rem;;
    border-radius: 2rem;
}

.fail {
    color: red;
}

.success {
    color: #85c14a;
}

.btn {
    
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 1px;
    background: linear-gradient(#4CAF50, #72be7c);
    color: #ffffff;
    transform: scale(1);
    transition: transform 500ms;
    
}

.btn:hover {
    color: #e2dddd;
    transform: scale(1.05);

}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
  }

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.rowMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.singleWrap {
    display: flex;
    justify-content: space-between;

}

label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    line-height: 26px;
    margin-bottom: 10px;
}

