.productcontainer {
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 5rem;
}

.col1 {
   flex: 1 1 25rem;
   padding: 1rem;
}

.col2 {
    
    flex: 1 1 50rem;
    text-align: center;
    margin-top: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
} 

li {
    margin-top: 1rem;
}

.imgBig {
    padding: 1rem;
    max-width: 35rem;;
    border-radius: 2rem;
}

.fail {
    color: red;
}

.success {
    color: #85c14a;
}

.btn {
    color: rgb(223, 219, 213);
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
  }

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.rowMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.singleWrap {
    display: flex;
    justify-content: space-between;

}

label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    line-height: 26px;
    margin-bottom: 10px;
}

